wordpress:
  image: wordpress
  links:
    - mysql:mysql
  environment:
    - WORDPRESS_DB_PASSWORD=password
  ports:
    - 8080:80

mysql:
  image: mysql
  environment:
    - MYSQL_ROOT_PASSWORD=password
